# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Build outputs
build/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
android/.gradle/
android/app/build/
web/.dart_tool/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Generated
pubspec.lock # REMOVE this line if this is an app; for apps you SHOULD commit pubspec.lock